@media (min-width: 240px ) and (max-width: 320px){
    .card {
        max-width: 250px;
    }
    button {
        font-size: 16px;
        padding: 16px 8px;
    }
    .left {
        left: -10%;
    }
    .right {
        right: -10%;
    }
}

@media (min-width: 321px) and (max-width: 739px) { 
    .card {
        max-width: 355px;
    }

    button {
        font-size: 16px;
        padding: 16px 8px;
    }
    .left {
        left: -5%;
    }
    .right {
        right: -5%;
    }
    .show-search {
        width: 115%;
    }
}